<div class="resize" fxLayout="column" fxLayoutAlign="center center" fx>

    <div class="mainContainer" fxLayout="column" fxLayoutAlign="center center" fxFlex="98">
        <div class="container" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="90" fxLayoutGap="5px">
            <div class="navbar" fxFlex="10"></div>
            <div class="mid-bocks" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex="60">
                <div class="left-col" fxFlex="49.5"></div>
                <div class="right-col" fxFlex="49.5" fxLayout="column" fxLayoutAlign="space-between stretch">
                    <div class="small" fxFlex="49.5"></div>
                    <div class="small" fxFlex="49.5"></div>
                </div>
            </div>
            <div class="bottom-block" fxFlex="20"></div>
            <div class="footer navbar" fxFlex="10"></div>
        </div>

    </div>
</div>